<h1>article#index</h1>
<%= form_with model: @article, url: articles_create_path, method: :post, local: true do |f| %>
<div class="form-group p-2">
  <%= f.text_field :title ,class: "form-control mb-2" %>
  <%= f.text_area :body ,class: "form-control mb-2" %>
  <%= f.select :category_id, {'スポーツ':1, '芸能': 2}, { include_blank: '選択してください'} ,class: "form-control mb-2" %>
  <%= f.submit '登録' ,class: "btn btn-primary" %>
</div>

<div>
  <%= link_to "カテゴリー" , categories_index_path %>
</div>
<% end %>
