<h1>Category#edit</h1>

<div>
  <%= @category.name %>
</div>

<div>
  <%= form_with model: @category, url: categories_update_path(@category.id) ,method: :put, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.submit '更新' %>
  <% end %>
</div>

<p class="mt-2">フォームオブジェクトで更新</p>
<div>
  <%= form_with model: @category_article, url: categories_update_form_path(@category.id), method: :put, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    <%= f.submit '更新'%>
  <% end %>
</div>
